.bottom_container {
  height: 100vh;
  width: 100%;
  /* border: 3px solid rgb(80, 3, 80); */
  position: relative;
  display: flex;
  /* overflow-y: hidden; */
}
#rule {
  width: 127px;
  transform: translate(90px, 70px);
  height: 100px;
  background: transparent;
}
.content {
  width: 50%;
  height: 100%;
  /* border: 1px solid goldenrod; */
  position: relative;
  /* transform: translate(149px, 58px); */
  background: transparent;
}
.title {
  position: relative;
  width: 71%;
  height: 23%;
  transform: translate(132px, 45px);
  /* border: 4px solid coral; */
  font-size: 40px;
  font-weight: 600;
  background: transparent;
}
.title span {
  color: #6cc57c;
}
.titleContent {
  width: 71%;
  height: 15%;
  font-size: 18px;
  /* border: 2px solid maroon; */
  position: absolute;
  background: transparent;
  transform: translate(133px, 85px);
  color: #7f8da0;
}
#rect {
  width: 500px;
  height: 526px;
  transform: translate(-317px, -342px);
  background: transparent;
  position: absolute;
}
#btm_content {
  width: 76%;
  height: 49%;
  transform: translate(112px, -454px);
  background: transparent;
}
.btm_2 {
  width: 70%;
  height: 100%;
  /* border: 1px solid pink; */
  overflow: hidden;
  position: relative;
  /* position: absolute; */
}
#btm_img {
  height: 105%;
  transform: translate(132px, -71px);
  background: transparent;
  position: absolute;
}
#btm_rect {
  width: 110%;
  height: 103%;
  transform: translate(255px, 0px);
  position: absolute;
  background: transparent;
}
#responsive_img{
display: none;
}
@media only screen and (max-width: 900px) {
  .bottom_container {
    height: 121vh;
    width: 100%;
    display: block;
    transform: translateY(-295px);
    /* border: 3px solid rgb(255, 149, 11); */
  }
  .content {
    width: 100%;
    height: 50%;
      /* border: 3px solid blue ; */
  }
  .title{
    height: 32%;
    transform: translate(11px , -93px);
  }
  #rule{
    width: 192px;
    height: 156px;
    transform: translate(-45px, -37px)
  }
  .title{
    height: 46%;
    transform: translate(20px , -93px);
  }
  .titleContent{
    height: 40%;
    width: 84%;
    transform: translate(25px , -70px);
    background: transparent;
  }
  .btm_2{
    display: none;
}

  #responsive_img{
    display: block;
    width: 100%;
    height: 800px;
    transform: translateY(10px);
    background: transparent;
  }
}
