.navbar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 5px;
  margin-left: 0px;
  margin-left: 20px;
  /* position: relative; */
}
.navbar img {
  width: 70px;
  height: 66px;
}
.logo {
  font-weight: 700;
  height: 35px;
  color: #23233c;
  font-size: 25px;
}

.nav1 {
  display: flex;
  justify-content: center;
  margin-right: 200px;
  margin-left: 300px;
}
.nav1 li {
  list-style: none;
  text-align: left;
  margin-left: 66px;
  color: #7f8da0;
  font-size: 20px;
  font-weight: 500;
  font-family: "Google Sans";
}
.nav2 {
  display: flex;
  justify-content: center;
  width: 63px;
  height: 29px;
  font-family: "Google Sans";
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
#menu {
  display: none;
}
.nav2 li {
  list-style: none;
  margin-left: 2rem;
}
#register {
  color: #6bc37c;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .navbar {
    margin-top: 40px;
    overflow: hidden;
  }

  .nav1 {
    display: none;
  }
  .nav2 {
    display: none;
  }
  #menu {
    display: block;
    right: 0%;
    transform: translateX(63px);
    width: 137px;
    height: 109px;
  }
}
