.upper_part {
  height: 120vh;
  display: flex;
  margin-left: 58px;
  width: auto;
  position: relative;
  overflow: hidden;
}
.content {
  margin-top: 60px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 80vh;
  width: 40%;
}
.images {
  height: 100%;
  width: 60%;
  position: relative;
  
}
#horizontalrule {
  width: 7%;
  height: 5px;
  color: #4f5065;
  background-color: #4f5065;
  margin-bottom: 10px;
  /* height:5px */
}
#para {
  width: 419px;
  height: 35px;
  color: #7f8da0;
  font-family: "Google Sans";
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}
#midContent {
  margin-bottom: 25px;
}
#midContent li {
  width: 400px;
  margin: 0;
  list-style: none;
  font-size: 40px;
  font-weight: 700;
  color: #23233c;
}
#green {
  color: #6cc57c !important;
  font-size: 55px !important;
}
#para2 {
  width: 500px;
  height: 30px;
  color: #7f8da0;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

.logincontainer {
  height: 100%;
  width: 85%;
  /* border: 1px solid black; */
  margin-top: 30px;
  margin-left: 0;
}
#login {
  width: 58%;
  height: 119%;
  transform: translate(-60px, -200px);
  background: transparent;
  z-index: -1;
}
#nutri {
  transform: translate(-245px, -20px);
  width: 371px;
  height: 185px;
  position: absolute;
  background: transparent;
}
#nutricontent {
  position: absolute;
  background: transparent;
  /* width: 19%; */
  transform: translate(-156px, 29px);
}
#homepage {
  position: absolute;
  width: 45%;
  height: 93%;
  transform: translate(-137px, 103px);
  background: transparent;
}
#group {
  position: absolute;
  width: 441px;
  height: 284px;
  background: transparent;
  transform: translate(-30px, 331px)
}
#grpContent {
  position: absolute;
    height: 132px;
    width: 282px;
    /* transform: translate(43px, 428px); */
    background: transparent;
    position: absolute;
    transform: translate(63px, 407px);

}
#rect {
  width: 410px;
    height: 440px;
    transform: translateX(273px);
    background: transparent;
    position: absolute
}

#social {
  width: 434px;
  height: 330px;
  background: transparent;
  transform: translateY(40px);
  /* border: 1px solid brown; */
  position: relative;
}
#app_btn {
  transform: translate(0px, 50px);
}
#app_btn p {
  position: absolute;
  background: transparent;
  color: white;
  margin-left: 85px;
  margin-top: 25px;
}
#app_btn img {
  /* position: relative; */
  background: transparent;
  /* transform: translateY(52px); */
}
#s_icon {
  position: absolute;
  width: 150px;
  height: 50px;
  /* border: 1px solid green; */
  background: transparent;
  transform: translateX(291px);
}
#s_icon img {
  margin-left: 25px;
  padding: 5px;
}
#s_name {
  width: 200px;
  height: 26px;
  transform: translateY(225px);
  color: #7f8da0;
  /* border: 1px solid black */
}
#green_sml {
  color: #6cc57c !important;
}
