.middlecontainer{
    height:100vh;
    width: auto;
    /* border: 1px solid greenyellow; */
    margin-left: 50px;
    position: relative;
    display: flex;
    overflow: hidden;
}
.foodItem{
    width: 50%;
    height: 90%;
    display: flex;
    /* border: 1px solid brown; */
}
.item1{
    width:45%;
    height: 70%;
    background: transparent;

    /* position: absolute; */
    /* border:2px solid blue; */
}
.item1 img{
    width: 134%;
    height: 122%;
    background: transparent;

}
.item2{
    margin-left: 20px;
    margin-top: 150px;
    width: 45%;
    background: transparent;

    height: 70%;
    /* position: absolute; */
    /* border:2px solid blue; */
}
.item2 img{
    width: 134%;
    height: 122%;
    background: transparent;

}
.content{
    width: 90%;
    position: relative;
    height: 90%;;
    background: transparent;
    /* border: 1px solid pink; */
}
.content img{
    margin-top: 10%;
    width: 77%;
    height: 65%;
    background: transparent;
}
.content #elipse{
    position: absolute;
    width: 34%;
    height: 82%;
    overflow: hidden;
    /* right: 5%; */
    transform: translate(134px, 20.5px);
    background: transparent;
}